{% include 'navbar.html' %}
<!doctype html>
<html lang="en">

<head>
    <!-- Favicons -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/heroes/heroes.css" rel="stylesheet">
</head>

<body>

    <main>
        <h1 class="visually-hidden">Heroes examples</h1>

        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Ansible + Django</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4"><b>Ansible</b> is an open-source software provisioning, configuration management,
                    and
                    application-deployment tool enabling
                    infrastructure as code. and
                    Windows.</p>
                <p class="lead mb-4"><b>Django</b> is a high-level Python web framework that enables rapid development
                    of secure and maintainable websites.</p>
                <p class="lead mb-4">This application tries to combine simplicity of web interface and power
                    of automation tools so even non technical users can leverage these tools in their work.
                </p>
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Features</li>
                    <li class="list-group-item">Add/Manage Server</li>
                    <li class="list-group-item">Create/Manage Ansible Groups</li>
                    <li class="list-group-item">Create/Manage Inventory</li>
                    <li class="list-group-item">Deploy upgrade using web based wizard ui</li>
                    <li class="list-group-item">Manage upgradable packages</li>
                </ul>
            </div>
        </div>



  

    </main>


</body>

</html>